/* * {
  outline: 1px solid red;
} */

h2 {
  color: pink;
  font-size: 25px;
}

.container {
  border: 1px solid blue;
  border-radius: 20px;
}
.title {
  color: blueviolet;
}
.link {
  text-decoration: none;
}

#wrapper {
  border: 1px solid black;
}

#subtitle {
  color: red;
  font-size: 12px;
}

#link {
  color: green;
}

.pseudo-classes:hover {
  background-color: lightgreen;
}

.pseudo-element {
  background: url('https://images.unsplash.com/photo-1438183972690-6d4658e3290e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YnJpZ2h0fGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60');
  width: 50%;
  min-height: 600px;
  position: relative;
  z-index: 0;
}

.pseudo-element__title {
  color: white;
  font-size: 28px;
  position: relative;
  z-index: 2;
}

.pseudo-element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0 0 0 / 0.7);
}

h2.compound-title {
  color: brown;
}

header a {
  text-decoration: green wavy underline;
}
.footer > div > a {
  text-decoration: aquamarine wavy underline;
}
h2 + a {
  color: red;
}

a ~ h2 {
  color: blueviolet;
}