/* body {
  font-weight: normal;
} */
/* .subtitle {
  font-size: 30px;
  color: darkblue;
} */
/* h1.title#title {
  color: red;
} */
/* #title:hover {
  color: pink;
} */

/* 
h1 {
  color: red;
} */

/* #title {
  color: blue;
} */
