.header {
  display: flex;
  border: 1px solid red;
  align-items: center;
  justify-content: space-between;
}
.logo {
  border: 1px solid green;
  width: 30px;
  height: 30px;
}
.nav {
  border: 1px solid blue;
  display: flex;
}
.basket {
  border: 1px solid black;
  height: 30px;
}
.wrap {
  display: flex;
}
.header1 {
  margin-top: 50px;
  display: flex;
  border: 1px solid red;
  align-items: center;
}
.logo1 {
  border: 1px solid green;
  width: 30px;
  height: 30px;
}
.nav1 {
  border: 1px solid blue;
  display: flex;
}
.basket1 {
  border: 1px solid black;
  height: 30px;
  margin-left: auto;
}
